{{#if files}}
    <div class="row">
    {{#each files}}
        <a href="/files/{{_id}}" style="text-decoration:none">
            <div class="card mr-2 mb-2" style="width:300px">
                <img src="/img/sos-file.png" class="mx-auto"  width="100" alt="File image">
                <div class="card-body">
                    <h4 class="card-title">{{name}}</h4>
                    <h6 class="text-muted" data-livestamp="{{time}}"></h6>
                  </div>
            </div>
        </a>
    {{/each}}
    </div>
{{else}}
    <div class="alert alert-info" role="alert">
        You haven't uploaded any files yet.
    </div>
{{/if}}