<div class="text-center container-fluid">
  <h1 class="h3 mb-3 font-weight-normal">Upload your file!</h1>
  <div class="row text-center">
    <form id="uploadForm" action="/files" method="post" class="form-upload form-horizontal col-10" accept-charset="UTF-8" enctype="multipart/form-data" autocomplete="off">
      <div class="form-group">
        <div class="row mb-1 text-left">    
          <span class="col-3">File</span>
          <input type="file" name="file" class="form-control col-9" required>
        </div>
        <div class="row mb-1 text-left">
          <label class="col-3 control-label align-middle">File Name</label>
          <input type="text" name="name" class="form-control col-9" placeholder="File Name" required>
        </div>
        <div class="row mb-1 text-left">
          <label class="col-3">Description</label>
          <textarea name="description" class="form-control col-9" placeholder="Description" row="4"></textarea>
        </div>
        <div class="row mb-1 text-left">
          <label class="col-3">No. of Parts</label>
          <input type="number" name="totalShares" class="form-control col-9" value="5" required>
        </div>
        <div class="row mb-1 text-left">
          <label class="col-3">Parts Needed</label>
          <input type="number" name="minimumShares" class="form-control col-9" value="3" required>
        </div>
      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
    </form>
  </div>
</div>